#ignore .pyc
*.pyc

#ignore the virtual env
/flask/

#ignore style stuff from pycharm
.idea/*

#ignore tmp/nonces/
tmp/*

#ignore the database (This will get too big to be on git)
app.db

#ignore the search database (I don't know if I need this yet)
search.db/*
