<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    {% include 'flash.html' %}
    <div class="well well-large" style="height: 140px;">
        <div class="pull-right">
            <img src="{{ user.avatar(128) }}" class="img-polaroid">
        </div>
        <h1>{{ user.nickname }}</h1>
        <p>These are your barrel gardens:</p>
        {% if user.id == g.user.id %}
            <a href="{{url_for('addgrow')}}">Start new grow!</a>
        {% endif %}
        </p>
    </div>
    {% for grow in grows.items %}
        {% include 'garden_thumb.html' %}
    {% endfor %}
<ul class="pager">
        {% if grows.has_prev %}
        <li class="previous"><a href="{{ url_for('garden', nickname=user.nickname, page=grows.prev_num) }}">Newer grows</a></li>
        {% else %}
        <li class="previous disabled"><a href="#">Newer grows</a></li>
        {% endif %}
        {% if grows.has_next %}
        <li class="next"><a href="{{ url_for('garden', nickname=user.nickname, page=grows.next_num) }}">Older grows</a></li>
        {% else %}
        <li class="next disabled"><a href="#">Older grows</a></li>
        {% endif %}
    </ul>

{% endblock %}
