<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    {% include 'flash.html' %}
    <div class="well well-large" style="height: 140px;">
        <div class="pull-right">
            <img src="{{ user.avatar(120) }}" class="img-polaroid" style="height: 120px;">
        </div>
        <h1>{{ user.nickname }}</h1>
        <p>These are your barrel gardens:</p>
        {% if user.id == g.user.id %}
            <a href="{{url_for('addgrow')}}">Start new grow!</a>
        {% endif %}

    </div>
    {% for grow in grows.items %}
        <a href="{{ url_for('grow', grow_id=grow.id) }}" style="text-decoration : none; color : #000000;">{% include 'garden_thumb.html' %}</a>
    {% endfor %}
<ul class="pager">
        {% if grows.has_prev %}
        <li class="previous"><a href="{{ url_for('index', page=grows.prev_num) }}">Newer grows</a></li>
        {% else %}
        <li class="previous disabled"><a href="#">Newer grows</a></li>
        {% endif %}
        {% if grows.has_next %}
        <li class="next"><a href="{{ url_for('index', page=grows.next_num) }}">Older grows</a></li>
        {% else %}
        <li class="next disabled"><a href="#">Older grows</a></li>
        {% endif %}
    </ul>

{% endblock %}