<table class="table table-hover">
    <tr>
        <td width="200px"><img src="{{ grow.most_recent_reading().photo_path }}" /></td>
        <td>
            <p><strong>{{ grow.title }}</strong></p>
            <p><a href="{{ url_for('garden', nickname=grow.grower.nickname) }}">{{ grow.grower.nickname }}</a></p>
            <p>Planted: {{ momentjs(grow.startdate).fromNow() }}</p>
            <p> Variety: {{ grow.variety }} </p>
        </td>
        <td>
            {% if grow.most_recent_reading() %}
            <p> Last upload:
                {{ momentjs(grow.most_recent_reading().timestamp).fromNow() }}
            </p>
            {% endif %}
            <p> Temperature: {{ grow.most_recent_reading().internal_temp }} </p>
            <p> Humidity: {{ grow.most_recent_reading().internal_humidity }} </p>
            <p> Fanspeed: {{ grow.most_recent_reading().fanspeed }} </p>
        </td>
    </tr>
</table>