<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>{{ grow.title }}</h1>
    <h3>{{ grower.nickname }} started growing {{ grow.variety }} {{ momentjs(grow.startdate).fromNow() }}</h3>
    {% include 'flash.html' %}
    <p> {{ grow.settings }} </p>

        {% if grow.user_id == g.user.id %}
            {% if grow.is_active %}
            <a href="{{url_for('settings', grow_id=grow.id)}}">Edit grow settings</a>
            {% endif %}
        {% endif %}

        <table style="width:100%">
            <tr>
                <th> time </th>
                <th> temp </th>
                <th> humidity </th>
            </tr>
            {% for reading in readings.items %}
                <tr>
                    <th> {{ momentjs(reading.timestamp).fromNow() }}</th>
                    <th> {{ reading.internal_temp }}</th>
                    <th>{{ reading.internal_humidity }}</th>
                </tr>
            {% endfor %}
        </table>
{% endblock %}





