<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>{{ grow.title }}</h1>
    <h3>{{ grower.nickname }} started growing {{ grow.variety }} {{ momentjs(grow.startdate).fromNow() }}</h3>
    {% include 'flash.html' %}
    <p> {{ grow.settings }} </p>

        {% if grow.user_id == g.user.id %}
            {% if grow.is_active %}
            <table style="width:50%">
            <tr>
                <th><form action="{{url_for('settings', grow_id=grow.id)}}">
                    <input type="submit" value="Edit grow settings" />
                    </form></th>
                <th><form action="{{url_for('end_grow', grow_id=grow.id)}}"onclick="return confirm('Are you sure you want to end the grow? (this cannot be undone.)');">
                    <input type="submit" value="End grow." />
                    </form></th>
            </tr>
            </table>
            {% endif %}
        {% endif %}

<div>

        <table style="width:100%">
            <tr>
                <th> Time </th>
                <th>Lights</th>
                <th>Fanspeed</th>
                <th>Heatsink temp</th>
                <th>internal temp</th>
                <th>internal humidity</th>
                <th>external temp </th>
                <th>external humidity </th>
            </tr>
            {% for reading in readings.items %}
                <tr>
                    <th> {{ momentjs(reading.timestamp).format("YYYY-MM-DD HH:mm") }}</th>
                    <th> {{ reading.lights }} </th>
                    <th> {{ reading.fanspeed }} </th>
                    <th> {{ reading.max_sinktemp }} </th>
                    <th> {{ reading.internal_temp }} C</th>
                    <th> {{ reading.internal_humidity }}%</th>
                    <th> {{ reading.external_temp }} C</th>
                    <th> {{ reading.external_humidity }}%</th>
                </tr>
            {% endfor %}
        </table>
</div>
<div>
    <a href="{{ lastpic }}">
    <img src="{{ lastpic }}" alt="Top Down" style="width:750px;">
    </a>
</div>
{% endblock %}


