<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>{{ grow.title }}</h1>
    <h3>{{ grower.nickname }} started growing {{ grow.variety }} {{ momentjs(grow.startdate).fromNow() }}</h3>
    {% include 'flash.html' %}
    <p> {{ grow.settings }} </p>

        {% if grow.user_id == g.user.id %}
            {% if grow.is_active %}
            <a href="{{url_for('settings', grow_id=grow.id)}}">Edit grow settings</a>
            {% endif %}
        {% endif %}
    {% for reading in readings.items %}
        {% include 'reading.html' %}
    {% endfor %}
{% endblock %}
